<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Chukwuka's To Do List</h1>
        <%- include('../partials/form'); %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">Name</th>
              <th scope="col">Completed?</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <%let i= 1;%> <% mascots.forEach(function(mascot) { %>
            <tr>
              <td scope="row"><%= i++ %></td>
              <td><%= mascot.name %></td>
              <td><%= mascot.done %></td>
              <td>
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  type="submit"
                >
                  Edit
                </button>
              </td>
              <td>
                <button
                  id="<%= mascot.id%>"
                  onclick="handleDelete(this.id)"
                  data-doc="<%= mascot.id%>"
                  class="btn-danger btn-primary my-2 my-sm-0"
                  type="submit"
                >
                  Delete
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>

    <script>
      //const deleteBtn = document.querySelector("#delete");

      function handleDelete(clicked_id) {
        console.log("Stop touching me" + clicked_id);
        const endpoint = `todos/${clicked_id}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then(() => {
            console.log("Deleted successfully");
            document.location.reload();
          })
          .catch((err) => console.log(err));
      }

      //deleteBtn.addEventListener("click", (e) => {
      //e.preventDefault();
      //console.log("I'm being Clicked");
      // const endpoint = `todos/${this.dataset.doc}`;

      // fetch(endpoint, {
      //   method: "DELETE",
      // })
      //   .then(() => {
      //     console.log("Deleted successfully");
      //   })
      //   .catch((err) => console.log(err));
      //});
    </script>
  </body>
</html>
