<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Chukwuka's To Do List</h1>
        <%- include('../partials/form'); %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">Name</th>
              <th scope="col">Completed?</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <%let i= 1;%> <% mascots.forEach(function(mascot) { %>
            <tr>
              <td scope="row"><%= i++ %></td>
              <td><%= mascot.name %></td>
              <td><%= mascot.done %></td>
              <td>
                <!-- Button trigger modal -->
                <button
                  type="button"
                  id="<%= mascot.id%>"
                  onclick="clickEdit(this.id)"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  Edit
                </button>
              </td>
              <td>
                <button
                  id="<%= mascot.id%>"
                  onclick="handleDelete(this.id)"
                  data-doc="<%= mascot.id%>"
                  class="btn-danger btn-primary my-2 my-sm-0"
                  type="submit"
                >
                  Delete
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input
                id="to-do-edit"
                class="form-control mr-sm-2"
                type="text"
                name="name"
                aria-label="Search"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                onclick="handleEdit(event)"
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>

    <script>
      let edit_id = 0;
      function handleDelete(clicked_id) {
        const endpoint = `todos/${clicked_id}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then(() => {
            console.log("Deleted successfully");
            document.location.reload();
          })
          .catch((err) => console.log(err));
      }
      function clickEdit(clicked_id) {
        edit_id = clicked_id;
      }

      function handleEdit(event) {
        console.log("Stop touching me" + edit_id);
        const newEdit = document.querySelector("#to-do-edit");
        endpoint = `todos/${edit_id}`;
        //console.log(newEdit.value);
        fetch(endpoint, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: JSON.stringify({
            name: newEdit.value,
            done: false,
          }),
        })
          .then(() => {
            console.log("Editted successfully");
            document.location.reload();
          })
          .catch((err) => console.log(err));
      }
    </script>
  </body>
</html>
